%h2
  & Snippet: #{@snippet.title}

%strong
  Written in
= LANGUAGES[@snippet.language]

and

%strong
  posted on
= @snippet.created_at.strftime("%b %d, %Y <strong>at</strong> %H:%M ")

- if @snippet.author and not @snippet.author.empty?
  %strong
    by
  = @snippet.author

.right
  %a{ :href=> "/raw/#{@snippet.random_id}/#{@snippet.filename}", :class => 'btn' } raw
  %a{ :href=> "/download/#{@snippet.random_id}/#{@snippet.filename}", :class => 'btn' } download
  %a{ :href=> '#', :id => 'toggle-lines', :class => 'btn' } toggle line numbers

#content{ :class => 'sbody' }
  = preserve @content
